*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: rgb(255, 255, 255);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    }

h1{
    padding-bottom: 25px ;
    color:  rgb(117, 171, 192);
}

input{
    border-radius: 20px;
    padding: 10px;
   
}
button{
    border-radius: 85px;
    background-color: rgba(77, 117, 133, 0.678);
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 35%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

#form{
    background-color: rgb(235, 235, 235);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 1px 1px 15px ;
}

#username{
    margin-bottom: 5px;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 15px;
    color: rgba(2, 74, 102, 0.562);;
}

#password{
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 15px;
    color: rgba(2, 74, 102, 0.562);;
}

#adicionar{

    button{
    display:flex ;
    justify-content: center;
    margin-top: 15px;
    }

}



