*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f3f3;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    }
#card{
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 0px 4px 12px  rgba(102, 126, 234, 0.2);
    position: relative;
    /* h1{
        text-align: left;
        margin-top: 2px;
        margin-left: 10px;
        font-size: 25px;
        
    } */

    /* p{
        color: rgba(0, 0, 0, 0.411);
        margin-left: 10px;
    } */

    #desconto{
        position: absolute;
        left: 15px;
        top: 15px;
        background-color:black ;
        color: white;
        padding: 8px;
        font-size: 12px;
        font-weight: 600;
        border-radius:30px;
    }

    
    img{
     width: 100%;
     height: 300px;
     border-radius: 24px 24px 0px 0px ;
   

    
}


}

#text{
    text-align: left;
        margin-top: 10px;
        margin-left: 16px;
        font-size: 10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#descricao{
    color: rgba(0, 0, 0, 0.411);
    margin-left: 16px;
    max-width: 330px;
    font-size: 16px;
    margin-top: 8px;
    
}

button{
    background-color: black;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}



#comprar{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red;  */

}



#adicionar{
    #botao{
        margin-top: 20px;
        margin-right: 35px;
        
        
    }
} 

.precos{
    #preco1{
        margin-left: 10px;
        margin-top: 5px;
        color: rgba(0, 0, 0, 0.315);
        text-decoration: line-through;
    }
    #preco2{
        margin-left: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Helvetica, sans-serif;

        h2{
           font-weight: 400; 
        }
    }
}


